html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, h2, p, h1, h2, h3 {
  margin: 0;
  border: 0;
  padding: 0; }

.landing {
  color: #fff;
  font-family: "Open Sans", sans-serif; }

.landing_overlay {
  width: 100%;
  height: 100vh;
  background: rgba(0, 61, 125, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2%; }

.landing_img {
  width: 100%;
  height: 100vh;
  background: url(images/rob.png) center;
  background-size: cover; }

.landing_headline {
  font-size: 11rem;
  text-align: center;
  width: 100%;
  margin-bottom: auto; }

/*.landing_subtext
 * font-weight: 300
 * font-size: 4rem
 * text-align: center
 * margin-top: 3%
 * margin-bottom: 10%
 * width: 100% */
.landing_cta {
  display: flex;
  font-size: 4rem;
  justify-content: center;
  align-items: center;
  height: 12rem;
  width: 25rem;
  border: 5px solid;
  margin-top: auto; }

.hobbies {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  background: #f9f9f9;
  color: #272727; }

.hr {
  height: 0;
  width: 45rem;
  border: 1px solid #696969;
  margin: 0 auto 2% auto; }

.hobbies_headline {
  font-size: 11rem;
  width: 100%;
  text-align: center; }

.hobbies_title {
  font-size: 4rem;
  width: 100%;
  text-align: center; }

.hobbies_text {
  font-size: 1.5rem;
  font-weight: 300;
  width: 100%;
  margin-bottom: 2rem; }

.hobbies article {
  width: 100%;
  padding: 0 5%; }

.drums_img {
  background: url(images/drum.png) center;
  background-size: cover;
  height: 275px;
  width: 275px;
  margin: 0 auto; }

.hockey_img {
  background: url(images/puck.png) center;
  background-size: cover;
  height: 275px;
  width: 275px;
  margin: 0 auto; }

.code_img {
  background: url(images/code.png) center;
  background-size: cover;
  height: 103px;
  width: 213px;
  margin: 0 auto; }

.gaming_img {
  background: url(images/games.png) center;
  background-size: cover;
  height: 275px;
  width: 275px;
  margin: 0 auto; }

.skills {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #272727; }

.skills_headline {
  font-size: 11rem;
  width: 100%;
  text-align: center; }

/*.graph
 * //max-width: calc(50em)
 * padding-left: 5%
 * padding-right: 5% */
.meter {
  width: 100%;
  margin: 1rem 0 0 0;
  position: relative;
  background: rgba(33, 150, 243, 0.1);
  background: lighten #2196F3, 50%;
  display: inline-block; }

.label {
  background: #424242;
  height: 4rem;
  width: 8rem;
  padding: 0 2rem;
  display: inline-block;
  color: #fff;
  line-height: 4rem;
  text-align: center;
  font-size: 3rem; }

.fill {
  height: 100%;
  background: #2196F3;
  display: inline-block;
  z-index: 222;
  position: absolute; }

.meter:nth-of-type(even) .fill {
  background: #51adf6; }

.meter:nth-of-type(even) .label {
  background: #545454; }

.html {
  width: calc(90% - 8rem); }

.css {
  width: calc(80% - 8rem); }

.js {
  width: calc(88% - 8rem); }

.github {
  width: calc(88% - 8rem); }

.liquid {
  width: calc(88% - 8rem); }

.experience {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  background: #f9f9f9;
  color: #272727; }

.exp_headline {
  font-size: 11rem;
  width: 100%;
  text-align: center; }

.exp_item {
  display: flex; }

.exp_tenure {
  width: 40%; }

.exp_time {
  height: 2rem; }

.exp_role {
  width: 56%;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding-top: 2.7rem; }

.exp_time {
  font-size: 1.2rem;
  margin-bottom: 1.5rem; }

/* Shopify */
.exp_bar_shopify {
  width: 3%;
  background: #7ab55c; }

.exp_shopify {
  background: url(images/shopify.png);
  background-size: contain;
  height: 120px;
  width: 105px;
  max-height: calc(100% - 1rem);
  max-width: 100%; }

/* Arcadia */
.exp_bar_arcadia {
  width: 3%;
  background: #810e04; }

.exp_arcadia {
  background: url(images/arcadia.png);
  background-size: contain;
  height: 120px;
  width: 105px;
  max-height: calc(100% - 1rem);
  max-width: 100%; }

/* Apple */
.exp_bar_apple {
  width: 3%;
  background: #5b5b5b; }

.exp_apple {
  background: url(images/apple.png);
  background-size: contain;
  height: 120px;
  width: 105px;
  max-height: calc(100% - 1rem);
  max-width: 100%; }

/* Apple */
.exp_bar_retail {
  width: 3%;
  background: #006fff; }

.exp_retail {
  background: url(images/cart.png);
  background-size: contain;
  height: 120px;
  width: 105px;
  max-height: calc(100% - 1rem);
  max-width: 100%; }

.contact {
  background: #003d7d;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding: 3% 0; }

.contact_headline {
  margin-bottom: 3%; }

/*# sourceMappingURL=main.css.map */
